.header .container {
    background: var(--bg-color-03);
    border-radius: 10px;
    padding: 14px 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);



}


.header__nav a {
    font-size: 18px;
    opacity: 0.6;
    transition: opacity 0.3s;
}


.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.8;
}