:root {
    --txt-primary-color: #000;
    /*колір основного тексту*/
    --txt-secondary-color: #fff;
    /*колір основного тексту інверсія*/

    --body-font: "Inter", sans-serif;
    /*шрифт для основного тексту*/
    --h-font: "Golos Tetx", sans-serif;
    /*шрифт для заголовків*/
    --button-font: "Source Sans 3", sans-serif;
    /*шрифт для кнопок*/


    --bg-color-01: #E8E8E8;
    /*фон*/
    --bg-color-02: #000;
    --navbar-bg-color: #DBDBDB;

    --link-color-01: rgb(0, 0, 0);

    --btn-primary-color: #ffffff;
    /*колір основних конопок*/
    --btn-secondary-color: transparent;
    /*колір другорядних кнопок*/
    --color-border: #111;
    /*колір обведення*/

    --radius-sm: 10px;
    /*маленький радіус скруглення*/
    --radius-lg: 30px;
    /*великий радіус скруглення*/

    --container-width: 1200px;
    /*ширина контейнера*/

    --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
    /*тінь*/

    --mob-padding: 20px;
    /*відступи до контенту на телефоні*/
    --max-width: 1380px;
    /*обмеження для пк*/
    --ipad-padding: 50px;
    --ver-pad-desktop: 50px;
    /* відступи по вертикалі у секціях desktop */
    --ver-pad-mob: 25px;
    /* відступи по вертикалі у секціях mobile */
}

html {
    font-size: 16px;
}


body {
    color: var(--txt-primary-color);
    font-family: var(--body-font);
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 30px;
    background: var(--bg-color-01);

}

h1,
h2,
h3,
h4,
h5 {

    font-family: "Golos Text", sans-serif;
    font-weight: 800;
    margin: 0;
}



h1 {
    font-size: 20vw;
    line-height: 0.8;
    margin-bottom: 15px;
}

h2 {
    font-size: 7.5rem;
}

h3 {
    font-size: 6rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 7vw;
    font-weight: 500;

}





section,
footer {
    padding-top: var(--ver-pad-desktop);
    padding-bottom: var(--ver-pad-desktop);
}



@media screen and (max-width: 1900px) {



    .inside {
        padding-left: var(--mob-padding);
        padding-right: var(--mob-padding);
    }
}