.container {
    width: 100%;
    max-width: 1051px;
    padding: 0.3rem;
    margin: 0 auto;
}

.header {
    padding: 2rem 8.2rem;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 6rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}