.section {
    padding: 9rem 0 9rem;
}

.join__section {
    padding: 13.7rem 0 32.8rem;
}

.section--gray {
    background-color: var(--bg-color-04);


}

.section--dark {
    background-color: var(--bg-color-02);
}

.section__title {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--bg-color-01);

}

.section--light .btn:hover {
    background: #000;
    color: #fff;
}

.section--light .btn:hover .btn_icon {
    filter: invert(1);
}